[2019-11-15 20:36] wamaina opened #10 "Tutorials page contains link to internal word doc"
Under the prerequisites section "Opt-in to the Excel Scripting preview" this should include a walk through of how the IT admin can enable preview. It may also be worth including "Admin must opt-in to the Office Scripts preview" to match the necessary action.

[2019-12-04 17:17] AlexJerabek opened #16 "Utilize Office Scripts specific API reference repo (not office-js-docs-reference)"
## Issue

Once the office-scripts-docs-reference repo is live, we'll need to adjust all the reference API links. We'll also need to setup a fusion TOC between the two repos.

[2019-12-04 19:15] wandyezj opened #18 "Only TypeScript is supported in the Script Editor."
The Docs currently offer a choice of TypeScript or JavaScript however only TypeScript is supported in the Script Editor.

https://review.docs.microsoft.com/en-us/office/dev/scripts/overview/overview?branch=master#scripting-language-typescript-or-javascript

[2019-12-04 19:19] wandyezj opened #19 "Intimidating to have to learn a lot about programming before proceeding."
It might be reasonable to word the following to indicate that things can be learned as they go along so we don't scare people off.

https://review.docs.microsoft.com/en-us/office/dev/scripts/overview/overview?branch=master#scripting-language-typescript-or-javascript

[2019-12-04 19:25] wandyezj opened #20 "Difficult to Find Automate Tab if hidden in the ribbon."
Could not find the automate tab since Excel hides it behind a drop down arrow.

https://review.docs.microsoft.com/en-us/office/dev/scripts/tutorials/excel-office-scripts-tutorial?branch=master

`Open the Automate tab and press Record Actions.`

[2019-12-04 19:27] wandyezj opened #21 "Open the Automate tab and press Record Actions should be in two steps"
https://review.docs.microsoft.com/en-us/office/dev/scripts/tutorials/excel-office-scripts-tutorial?branch=master

`Open the Automate tab and press Record Actions.`

1. Open the Automate Tab
1. Press Record Actions

This makes it easier to follow verses missing a step, especially as on a laptop people will be switching focus between tabs from reading the tutorial to playing with excel.

[2019-12-04 20:22] wandyezj opened #22 "Make Description field a separate optional step?"
`The Description field can be used to provide context as to what the script does. You can leave the Description blank for the tutorial.`

(Optional) Fill in the Description field so you can remember what the script does later.

[2019-12-04 20:38] wandyezj opened #23 "Define read and write operations?"
`Any workbook change is recorded as one or more write operations in the script. Scripts can also read data from a workbook.`

What are read or write operations?

[2019-12-04 20:50] wandyezj opened #24 "Tutorial autofit columns does weird formatting"
https://review.docs.microsoft.com/en-us/office/dev/scripts/tutorials/excel-office-scripts-tutorial?branch=master#read-a-cell

1. Copy and past the table
1. copy and pasting the script
1. run the script

observe the strange autofit formatting

Is this dependent on screen size or other settings?

How will users report these errors (Makers?)

[2019-12-04 23:39] #18 closed, assigned to AlexJerabek

[2019-12-04 23:46] #24 closed, assigned to nobody

[2019-12-05 22:52] #19 closed, assigned to AlexJerabek

[2019-12-05 22:53] AlexJerabek opened #28 "Consistently use `let` instead of `const`"
## Issue

From @gergzk:

[2019-12-05 23:23] #20 closed, assigned to AlexJerabek

[2019-12-05 23:23] #21 closed, assigned to AlexJerabek

[2019-12-05 23:23] #22 closed, assigned to AlexJerabek

[2019-12-05 23:24] #23 closed, assigned to AlexJerabek

[2019-12-06 00:23] #28 closed, assigned to AlexJerabek

[2019-12-06 18:47] AlexJerabek opened #30 "Switch to public Stack Overflow links before public preview"

[2019-12-11 20:56] #16 closed

[2019-12-11 21:06] smittypro opened #35 "Broken Link"
## Article URL

## Issue

[2019-12-11 21:08] AlexJerabek commented on #35
Hi @smittypro, Which link is broken?

[2019-12-11 21:11] smittypro commented on #35
The one to that suggests the content should be viewed on docs.microsoft.com:

"For the best experience, we recommend you view this content on docs.microsoft.com." It goes here: https://docs.microsoft.com/en-us/office-scripts-docs, but gets a 404 Page not found error.

[2019-12-11 21:14] AlexJerabek commented on #35
Gotcha. That will light up when the docs goes live.

[2019-12-11 21:15] #35 closed

[2019-12-11 21:16] danielgwilson opened #37 "Notes in "Overview" are overwhelming"
Notes in overview are a bit overwhelming as a first-time reader; I'm expecting to see a very simple, rapid on-ramp towards (1) knowing "enough" and (2) trying the product out. I recommend significantly condensing or even omitting most of the Note content that is shown currently.

<img width="1440" alt="Screen Shot 2019-12-11 at 1 12 34 PM" src="https://user-images.githubusercontent.com/11265967/70

[2019-12-11 21:18] AlexJerabek opened #38 "Improve the sync/load image"
## Article URL

[Scripting Fundamentals](https://review.docs.microsoft.com/en-us/office/dev/scripts/develop/scripting-fundamentals?branch=master#sync-and-load)
## Issue

Rework the sync/load image to be more on-brand.

[2019-12-11 21:25] danielgwilson opened #39 ""Excel for the web" or "Excel on the web"?"
Excel product name is inconsistent with other documentation; see:
- https://docs.microsoft.com/en-us/office365/servicedescriptions/office-online-service-description/excel-online
- https://products.office.com/en-us/free-office-online-for-the-web
- https://support.office.com/en-us/article/create-a-workbook-in-excel-for-the-web-63b50461-38c4-4c93-a17e-36998be0e3d0

(Google search suggests correct nam

[2019-12-11 21:25] danielgwilson commented on #39
@Reezaali @AlexJerabek

[2019-12-11 21:26] danielgwilson opened #40 ""Overview" missing top-level "what is this thing" section"
When viewing the "Overview" page, I'm expecting to see a broad "what is this thing" section, followed by in-depth sections on what I need to know. Currently, I think the article does a good job with the in-depth sections, but omits a broader first section that is more detailed than the index, but less than the current sections.

E.g.

### Overview

#### What can Office Scripts be used for?

_Examp

[2019-12-11 21:27] sumurthy opened #70 "Add link to official blog post announcement"
In the page, https://review.docs.microsoft.com/en-us/office/dev/scripts/?branch=master it will be useful to link to the official blog post announcement.

[2019-12-11 21:31] danielgwilson opened #41 ""Overview" needs more pictures"
Title—suggest at least one photo (or better yet, gif) per major UI component

https://github.com/OfficeDev/office-scripts-docs/blob/master/docs/overview/overview.md

[2019-12-11 21:36] danielgwilson opened #42 ""Overview" "Script environment" section is unhelpful if unfamiliar with TypeScript"
Becomes more obvious if you read it from the persona of "I only know Excel, I've never programmed before (or I've used VBA a few times)."

Suggest emphasizing TypeScript less and giving a brief overview of what it is with a link to the TypeScript site.

https://github.com/OfficeDev/office-scripts-docs/blob/master/docs/overview/overview.md

[2019-12-11 21:52] AlexJerabek opened #43 "Mention req sets?"
Reconsider how the API requirement sets are discussed on the overview page:
https://review.docs.microsoft.com/en-us/office/dev/scripts/overview/overview?branch=master#office-javascript-api

[2019-12-11 21:54] sumurthy opened #57 "Clarify language"
https://review.docs.microsoft.com/en-us/office/dev/scripts/tutorials/excel-office-scripts-tutorial?branch=master

I think we should specify that admins needs to do their part to opt-in. Current language sounds like user should do it.

...
Prerequisites
Before starting this tutorial, you'll need access to Office Scripts, which requires the following:

Excel on the web.
**Opt-in to the Office Script

[2019-12-11 22:19] AlexJerabek opened #44 "Scripting Fundamentals lead-in too wordy"
## Article URL

https://review.docs.microsoft.com/en-us/office/dev/scripts/develop/scripting-fundamentals?branch=master
## Issue

From Shreedhar:
"This article describes the areas of Office Scripts in Excel on the web that require you to have a better understanding of how the script code works with Excel."
Too wordy and I don’t understand what we are conveying here.

[2019-12-11 22:23] AlexJerabek commented on #39
@ElizabethSamuel-MSFT Can you weigh in here?

[2019-12-11 22:24] AlexJerabek opened #45 "Add (preview) to overview H1"

[2019-12-11 22:28] ElizabethSamuel-MSFT commented on #39
@danielgwilson Excel on the web, Excel for the web, using Excel in a web browser, and similar terms are all valid ways of representing what was formerly Excel Online or Excel Web App. Within the Office Add-ins docs, we decided that the preferred term is Excel on the web.

[2019-12-12 17:39] #39 closed

[2019-12-12 18:29] AlexJerabek commented on #37
Addressed by #46 .

[2019-12-12 18:30] AlexJerabek commented on #42
Addressed by #46 .

[2019-12-12 18:31] AlexJerabek commented on #45
Addressed by #46 .

[2019-12-12 18:31] AlexJerabek commented on #41
Addressed by #46 .

[2019-12-12 19:35] AlexJerabek commented on #10
This will be fixed with #46.

[2019-12-13 01:15] #45 closed

[2019-12-13 01:15] #43 closed

[2019-12-13 01:15] #42 closed

[2019-12-13 01:16] #10 closed

[2019-12-13 01:23] AlexJerabek opened #51 "Rework opening lines of the index"

[2019-12-13 04:33] #37 closed

[2019-12-13 04:33] #41 closed

[2019-12-13 18:33] AlexJerabek opened #55 "Remove TableStyle from tutorial"
The TableStyle isn't consistent across platforms.

[2019-12-13 19:46] #51 closed

[2019-12-13 19:46] #44 closed

[2019-12-13 19:46] #40 closed

[2019-12-13 19:47] AlexJerabek commented on #40
Fixed with #56

[2019-12-13 19:47] AlexJerabek commented on #30
Fixed with #56

[2019-12-13 19:47] #30 closed

[2019-12-13 19:57] AlexJerabek opened #58 "Add section about undoing script runs"
From @peronald:

[2019-12-13 21:05] #58 closed

[2019-12-13 21:05] AlexJerabek commented on #58
Fixed with #60

[2019-12-15 23:01] #55 closed

[2019-12-16 18:47] #57 closed

[2020-01-07 21:26] erobillard opened #71 "Enabling the service does not enable the service"
## Article URL
[Tutorial](https://docs.microsoft.com/en-us/office/dev/scripts/tutorials/excel-tutorial)
[Office Scripts settings in M365](https://support.office.com/en-us/article/office-scripts-settings-in-m365-19d3c51a-6ca2-40ab-978d-60fa49554dcf)

## Issue
The first article indicates the service is enabled per user, but the steps to enable Office Scripts in the 2nd link are tenant-wide. Also, en

[2020-01-07 21:27] #70 closed

[2020-01-08 22:15] AlexJerabek commented on #71
Hi @erobillard,
Thanks for reporting this. I'll look into the documentation discrepancy.

@gergzk, can you look into the UI not showing the automate tab?

[2020-01-08 22:53] AlexJerabek commented on #71
I corrected the tutorial with PR #75.  It now correctly states the scope of an admin enabling Office Scripts. The change will be merged into the production documentation soon.
We're still looking into your issue of the Automate tab not showing up.

[2020-01-08 23:31] AlexJerabek commented on #71
Hi @erobillard,

Office Scripts is currently in Targeted release. The feature has not reached all Excel on the web users and organizations yet. The article [Set up the Standard or Targeted release options in Office 365](https://docs.microsoft.com/office365/admin/manage/release-options-in-office-365) has information on how to opt-in to early feature releases. Even within the targeted release, it ma

[2020-01-08 23:31] #71 closed

[2020-04-12 22:25] Geradav opened #101 "Explanation for Ranges"
In the section for Ranges (https://docs.microsoft.com/en-us/office/dev/scripts/develop/scripting-fundamentals#ranges)
It is explained that A1 notation refers to row A and column 1.
Shouldn't it be the contrary? The letter refers to column header and the number refers to row header.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-04-13 15:55] AlexJerabek commented on #101
Hi @Geradav,
You are correct: letters denote columns. I'll make the changes and submit a PR soon.

[2020-04-13 16:47] #101 closed

[2020-04-13 16:49] AlexJerabek commented on #101
Hi @Geradav,
Thanks again for bringing this to our attention. The corrected text has been checked in. It will be on the live site soon.
Please let me know if you have any further issues.

[2020-04-17 07:39] Geradav opened #103 "Use of getCount() => ??"
Hello,

I failed to get the number of tables using getCount().
The workaround to get the number of items in the tableCollection is to use myTables.items.length

*****
 vAllSheetTables.load('items/length');
 await context.sync();

  console.log(vThisTable.name);
  console.log(vAllSheetTables.items.length);
*****

The only property available for the getCount() method is 'value' and I can't load it.

[2020-04-24 17:58] #103 closed

[2020-06-24 21:17] #38 closed

[2020-07-27 15:34] onRubik opened #156 "Where are Scripts saved/stored?"
In the next documentation:
https://docs.microsoft.com/en-us/office/dev/scripts/overview/excel

It explains that the scripts can be saved, where are the scripts stored? is it the same Git Hub options as ScriptLab?, I need to know If I don't necessarily need a Git Hub account before asking my It Admin to enable the Automate Ribbon option

![script](https://user-images.githubusercontent.com/45592947/

[2020-07-27 18:29] AlexJerabek commented on #156
Hi @onRubik,
Scripts are stored in your OneDrive. There's a [section in that article that mentions that](https://docs.microsoft.com/en-us/office/dev/scripts/overview/excel#sharing-scripts), but I'll look into making that more clear.

[2020-07-30 03:16] #156 closed

[2020-07-30 03:16] onRubik commented on #156
thank you much

[2020-09-04 22:04] syedirfan1234-art opened #165 "Automate tab not visible in excel for web"
We have officescripts enabled for users in our organization still no user can see automate ribbon in excel for web.

## Article URL
https://docs.microsoft.com/en-us/office/dev/scripts/testing/platform-limits#third-party-cookies

## Issue
We have office scripts enabled for users in our organization still no user can see automate ribbon in excel for web.

We checked with various browsers with all co

[2020-09-08 15:11] AlexJerabek commented on #165
Hi @syedirfan1234-art,
I'm sorry that you can't get access to the Automate tab. Just to verify, does your organization have one of the licenses listed in the "Before you begin" section of [Manage Office Scripts settings](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-office-scripts-settings?view=o365-worldwide)? Office Scripts are currently only available for a certain level of

[2020-09-09 17:45] syedirfan1234-art commented on #165
Hi Alex,

We have the option "let users automate their task in excel on web"  is checked. and also our users have o365 e3 license available.

Our users checked in various browsers and not even a single user able to find the "automate" tab in excel online.

Is this something not rolled out tenant wide. Please confirm.

[2020-09-09 20:06] AlexJerabek commented on #165
Thanks @syedirfan1234-art.

@peronald, can you please investigate this?

[2020-09-09 21:26] peronald commented on #165
Hi @syedirfan1234-art
    The Office Scripts feature is just starting to roll out to the Targeted Release audience for organizations which is why your users may have not seen it yet. It is going to be slowly rolling out over the next few months so it may take awhile for your users to see the Automate tab. Hope that helps and let me know if you have any additional questions.

[2020-09-10 21:24] syedirfan1234-art commented on #165
Thanks for the reply. The makes sense and we will wait till MS roll out this feature for us.

[2020-09-10 21:25] syedirfan1234-art commented on #165
Issue resolved....

[2020-09-10 21:25] #165 closed

[2020-10-14 12:40] LielanC opened #176 "Code Editor and Record Actions"
We finally enabled and got the  automate ribbon in excel for web enabled however both Record Actions and Code Editor sub windows are not loading/are blank. Is the some additional setting than we need to install/enable?

Additional info: The help sub window does populate correctly, so not sure.

[2020-10-14 15:49] AlexJerabek commented on #176
Hi @LielanC,

Thanks for raising this issue. If the Automate tab is appearing, I'm assuming most of the requirements listed [here](https://docs.microsoft.com/office/dev/scripts/testing/troubleshooting#automate-tab-not-appearing-or-office-scripts-unavailable) are met, but are third-party cookies enabled for your browser? Also, which browser are you using?

[2020-10-15 08:58] LielanC commented on #176
Thanks Alex, that is correct we have met the requirements.

Currently due to group policies, they have disabled
"Allow sites to save and read cookie data"
"Block third party cookies"
on Chrome.

So it might be an option/ maybe another MS solution required? Will provide feedback if org allows it.

[2020-10-15 09:49] LielanC commented on #176
Would the site to be added be
https://appsforoffice.microsoft.com/
?

[2020-10-15 16:43] AlexJerabek commented on #176
Thanks for the information @LielanC. @peronald, can you confirm if that's the site that needs to be allowed for Office Scripts cookies?

[2020-10-16 18:34] peronald commented on #176
Hey @LielanC, you can find the site you need to add by opening a new workbook in Excel on the web and taking the part of the url before the first "/ ". So, for example, if the url looks like the below:
    "https://contoso-my.sharepoint.com/:x:/r/personal/..."
you should add the "https://contoso-my.sharepoint.com/" as the site that can have third party cookies enabled.

If that doesn't work, could

[2020-10-28 20:03] JasonH-Msft opened #179 "How to transfer ownership for Office Scripts"
A common scenario is how Office Script ownership transfer should be handled when the Office script creator is no longer with the organization or for any reason an ownership transfer of the Office Script is desired.

## Article URL

## Issue

Please describe in detail how ownership transfer can be performed by Office Script owners and tenant administrators.  Include in the description what permissi

[2020-10-28 20:09] JasonH-Msft opened #180 "Office Scripts in Excel on the web"
Recommended add to existing article:  Scripts are stored in the  OneDrive /Documents/Office Scripts location of the Script owner.  They are saved as .osts extension.

## Article URL

https://docs.microsoft.com/en-us/office/dev/scripts/overview/excel

## Issue

Notifying Office Script creators of the default location of Office script files will provide better visibility in locating and/or identifyi

[2020-10-28 20:16] JasonH-Msft opened #181 "Making a copy of an Office Script"
Explain the concept of when and how to use “Make a Copy”.

## Article URL

Either create a new, separate article or add to “Learn the basics of Office Scripts”
https://docs.microsoft.com/en-us/office/dev/scripts/tutorials/excel-tutorial

## Issue

If you want to create a "template" script and later create independent copies of that template script, you must “Make a Copy” of the script.  This is im

[2020-10-28 21:40] JasonH-Msft opened #182 "Sharing Office Scripts in Excel for the web"
see suggested correction in Issue section below

## Article URL

https://support.microsoft.com/en-us/office/sharing-office-scripts-in-excel-for-the-web-226eddbc-3a44-4540-acfe-fccda3d1122b

## Issue

Please be more precise for what access permissions this is true, "**Important:** Anyone with access to a workbook can view and run its attached scripts."  Perhaps instead should read, "Anyone with Edi

[2020-10-28 23:59] AlexJerabek commented on #182
Thanks for reporting all these issues @JasonH-Msft. I'll look through them and either follow-up with you or address them in a forthcoming PR.

[2020-10-30 04:00] #176 closed

[2020-11-11 15:14] ThoHog opened #185 "Security of Office Scripts"
Could you please offer more details concerning Office Scripts and Security? The statement "no JavaScript auth tokens can be shared with (office?) scripts" is a bit vague.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67a88dd6-c546-a6a7-9745-50bc60de2a9f
* Version Independent ID: 2274fc03-b644-8aa5-dd51-067ae86c9746
*

[2020-11-13 19:51] AlexJerabek commented on #185
Thanks for raising this issue @ThoHog. I'll work with the product team to bring better clarity to this document.

[2020-11-14 00:22] #185 closed

[2020-11-14 00:25] AlexJerabek commented on #185
I added some clarity to the original statement in https://github.com/OfficeDev/office-scripts-docs/pull/187. Basically, there's no way for a script to authenticate with an external server - it can't use your existing information that you signed in to Excel with, and it can't make and send its own auth token.

I'm closing the issue, but I'm happy to field more questions on the subject, if you need.

[2020-11-17 00:03] AlexJerabek commented on #179
Hi @JasonH-Msft,

This issue should be addressed in https://github.com/OfficeDev/office-scripts-docs/pull/186. We added a topic about Office Scripts file storage and ownership. It should be live and publicly visible in the next couple days.

If you have any other questions or feel that this PR does not sufficient answer you questions, please let me know. Thanks!

[2020-11-17 00:03] #179 closed

[2020-11-17 00:04] AlexJerabek commented on #180
Hi @JasonH-Msft,

This issue should be addressed in https://github.com/OfficeDev/office-scripts-docs/pull/186. We added a topic about Office Scripts file storage and ownership. It should be live and publicly visible in the next couple days.

If you have any other questions or feel that this PR does not sufficient answer you questions, please let me know. Thanks!

[2020-11-17 00:04] #180 closed

[2020-11-17 00:04] AlexJerabek commented on #181
Hi @JasonH-Msft,

This issue should be addressed in https://github.com/OfficeDev/office-scripts-docs/pull/186. We added a topic about Office Scripts file storage and ownership. It should be live and publicly visible in the next couple days.

If you have any other questions or feel that this PR does not sufficient answer you questions, please let me know. Thanks!

[2020-11-17 00:04] #181 closed

[2020-11-17 23:29] AlexJerabek commented on #182
This clarification has been made to the support.microsoft.com article. Closing the issue.

[2020-11-17 23:29] #182 closed

[2020-11-21 18:10] jakobpn opened #189 "Would be great if this page had a link to Sudhi's code samples on Github as well as other samples written by the community"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0de752a-5e17-5c20-acd7-67f9726bc767
* Version Independent ID: 4304ad93-6811-7101-4077-7f3366ace997
* Content: [Sample scripts for Office Scripts in Excel on the web - Office Scripts](https://docs.microsoft.com/en-us/office/dev/scripts/resources/excel

[2020-11-23 18:21] AlexJerabek commented on #189
Hi @jakobpn. This page is intended to be a more centralized place to find sample scripts around key behaviors and features. We want to limit the external links, as that builds out a hard-to-track dependency chain.

Over the next couple weeks, we'll be publishing a "Sample Contributor Guide" to help foster community contributions here. We want to help sample authors create scripts that can be share

[2020-11-23 18:21] #189 closed

[2020-11-24 21:53] km594 opened #191 "Issue with manually entering file path for .xlsx"
Great tutorial! Got it working ok, struggled with adding my file path though - I could only add through using the pop-up file-selection GUI, instead of entering my filepath maunally (i.e. same path for example "/TestFolder/task-reminder.xlsx" but it failed on testing).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d5

[2020-11-30 22:43] AlexJerabek commented on #191
Hi @km594,

Thanks for reporting this issue. Let me do some investigation and I'll get back to you soon. Just to check, you have the same values for the **Location** and **Document Library** fields as the sample, right?

![image](https://user-images.githubusercontent.com/38896772/100674655-59947580-331a-11eb-92c2-d9bc491f7890.png)

[2020-11-30 23:24] AlexJerabek commented on #191
I just reproed this issue: Manually entering the file path caused the flow to fail, whereas using the file picker lead to success.

@danielgwilson, is this a Power Automate issue that you've encountered before?

[2020-12-04 00:12] #191 closed

[2020-12-04 02:23] km594 commented on #191
Thanks OfficeDev/office-scripts-docs!

On Fri, 4 Dec 2020, 11:13 am Alex Jerabek, <notifications@github.com> wrote:

[2021-01-06 16:59] mhusk opened #205 "Code gives an error because of Argument Type"
[20, 42] Argument of type 'string | number | boolean' is not assignable to parameter of type 'number'.
  Type 'string' is not assignable to type 'number'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db20932c-4680-4ee6-1299-4995d5151e5f
* Version Independent ID: 3ff9e767-2543-6a73-579e-c0ea53c15a0c
* Content: [Read w

[2021-01-06 17:14] AlexJerabek commented on #205
Thanks for catching this @mhusk. There was a recent change to the API that changed the return type of `getValue` from `any` to `string | number | boolean`. The script will still run, despite that compiler error.

I'll fix the tutorial to avoid that issue and submit a PR soon.

[2021-01-06 18:55] #205 closed

[2021-01-07 17:17] mhusk opened #208 "Getting Data from Other Workbooks"
I am not finding any documentation on how to get data from other Excel workbooks. I know this is possible with Google App Script, but it does not look I am finding anything about this with Office Script

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91eab22e-1a2a-a9e7-2331-f87462d64fcc
* Version Independent ID: bf0955e

[2021-01-07 20:04] KelBowen commented on #208
@sumurthy This is a question about whether Office Scripts supports getting data from other spreadsheets. @alison-mk We also may need to update docs for clarity either way?

[2021-01-07 21:32] mhusk commented on #208
correct! Essentially trying to have one Excel be my single source of truth and have it update other Excel sheets. All the data is stored within the same SharePoint

[2021-01-08 00:59] AlexJerabek commented on #208
@mhusk, Currently, an Office Script runs on a single workbook at a time. You could use Power Automate to combine multiple scripts in different workbooks into a single flow. There's a series of PA-centric tutorials that teach the platform and how to both pass data to and return data from workbooks using scripts:
- [Pass data to scripts in an automatically-run Power Automate flow](https://docs.micro

[2021-01-08 17:21] AlexJerabek commented on #208
Hi @mhusk,

@sumurthy confirmed with me that Power Automate is currently needed scripts to work with multiple workbooks. He has a sample here: https://github.com/sumurthy/officescripts-projects/tree/main/Event%20Cross%20Reference

We are working on new APIs to link to an external workbook from a script and pull data from that workbook. Those should be available soon.

[2021-01-08 17:22] #208 closed

[2021-01-08 17:41] mhusk commented on #208
@AlexJerabek I can share my scenario. I am not super well versed with Power Automate. I can share my use case

[2021-01-11 23:57] AlexJerabek commented on #208
@mhusk This might be a better discussion to have on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-scripts) (with the "office-scripts" tag). There's actually a related question already there: https://stackoverflow.com/questions/65547948/read-data-from-another-excel-workbook-using-office-script

[2021-01-19 03:23] sumurthy commented on #208
@mhusk Thanks for the question. Please feel free to reach out to me suramam (at) microsoft . com for any details you may have on the scenario. Very curios to learn about it and verify that our upcoming API will support your scenario. Also sent a connect over LinkedIn. You can use either medium for next comm. Thanks!

[2021-01-21 21:06] wandyezj opened #217 "Missing The?"
Original:

`When the function is executed, Excel application invokes this main function by providing the workbook as its first parameter.`

Proposed:

When the function is executed, **the** Excel application invokes this main function **and** provides the workbook as its first parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-01-21 22:34] #217 closed

[2021-02-06 01:26] rikyravi opened #225 "Columns references"
I can't find a solution for my macro:
`function main(workbook: ExcelScript.Workbook) {
  let foglioVittorio = workbook.getWorksheet("Vittorio Zigiotto")
  let tabella = foglioVittorio.getTable("VittorioZigiotto")
  // Auto fill range
  tabella.addColumn()
  tabella.addColumn()
  tabella.addColumn()
  tabella.addColumn()
  tabella.addColumn()
  tabella.getRange(SOMETHING)
    .autoFill(SOMETHING, E

[2021-02-08 19:23] AlexJerabek commented on #225
Hi @rikyravi,

Typically, for programming questions like this, we recommend asking them on [Stack Overflow, using the "office-scripts" tag](https://stackoverflow.com/questions/tagged/office-scripts). There, the larger community will see your question and others can also benefit from the answer.

For your question, if you're trying to access a range within a table, you can use the [Table.getRange](

[2021-02-15 22:00] #225 closed

[2021-03-03 21:16] JasonH-Msft opened #236 "Safari supported..or not?"
[Enter feedback here]
In conversation with Petra, my understanding is Safari is not supported due to disallowing 3rd party cookies by default.  However Safari's inclusion here doesn't make that point clear, so if it is accurate that Safari is still not supported at present, then this should be stated and explained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-03-03 21:20] AlexJerabek commented on #236
Hi @JasonH-Msft,

As far as I understand, you should be able to allow 3rd party cookies in Safari by following these steps: https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac

Are you still unable to use Office Scripts after making that change?

[2021-03-03 21:21] AlexJerabek commented on #236
Tagging @peronald too, since she was involved in the original discussion.

[2021-03-03 23:33] JasonH-Msft commented on #236
Yes the feedback we need is from Petra.  😊  I want clarify whether we are supporting Safari.  I had a note from a previous meeting that we were NOT but if that has changed, that’s good to know.

From: Alex Jerabek <notifications@github.com>
Sent: Wednesday, March 3, 2021 3:22 PM
To: OfficeDev/office-scripts-docs <office-scripts-docs@noreply.github.com>
Cc: Jason Haak <Jason.Haak@microsoft.com>; Me

[2021-03-04 16:29] JasonH-Msft commented on #236
This was answered today, can be closed.  Thanks!

From: Alex Jerabek <notifications@github.com>
Sent: Wednesday, March 3, 2021 3:22 PM
To: OfficeDev/office-scripts-docs <office-scripts-docs@noreply.github.com>
Cc: Jason Haak <Jason.Haak@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-scripts-docs] Safari supported..or not? (#236)

Tagging @peronald<https://nam06

[2021-03-05 18:52] #236 closed

[2021-03-13 19:38] rootsmusic opened #240 "request features"
"Request features" at https://aka.ms/oscripts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f67f2ac9-6bd4-a5fc-20b0-e0b055dbe61c
* Version Independent ID: a0f30a07-4ebf-ac33-6797-43ae7306bede
* Content: [Office Scripts documentation](https://docs.microsoft.com/en-us/office/dev/scripts/)
* Content Source: [docs/index.m

[2021-03-15 17:03] AlexJerabek commented on #240
Hi @rootsmusic,

Can you please reach out internally and explain this feature request end point? Who requested it, who is monitoring it, etc.? Thanks!

[2021-03-15 17:03] #240 closed

[2021-04-11 04:46] hyoshioka0128 opened #257 "[LOC]Back-Translation "パワー自動化"→"Power Automate" (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/office/dev/scripts/develop/power-automate-integration"
![power-automate-integration_j](https://user-images.githubusercontent.com/40815708/114292799-2fbf3c80-9acc-11eb-8d2b-7e82b07a7273.png)

en-us:"https://docs.microsoft.com/en-us/office/dev/scripts/develop/power-automate-integration"
![power-automate-integration_e](https://user-images.githubusercontent.com/

[2021-04-12 16:22] AlexJerabek commented on #257
Hi @hyoshioka0128,

Thank you for reporting this. I've alerted our localization team to the issue. We'll get back to you soon.

[2021-04-14 18:05] AlexJerabek commented on #257
This looks to be an over-localization issue across multiple languages. It is being investigated by the localization team ([internal tracking link](https://microsoft.visualstudio.com/OS/_workitems/edit/32470398)).

I'll try to update the thread as we work on a fix.

[2021-04-15 20:59] AlexJerabek commented on #257
Hello @hyoshioka0128,

This localization issue should be fixed now. Please let me know if there are any other problems.

I will close the issue, but please reply or create a new issue if you discover something else.

[2021-04-15 20:59] #257 closed

[2021-04-16 03:02] hyoshioka0128 commented on #257
@AlexJerabek - Thanks!

[2021-04-16 09:15] hyoshioka0128 opened #261 "[LOC]Fixed inappropriate japanese "Power Automate Office"→"PowerAutomate を使用して Office" (ja-jp)"
[LOC]Fixed inappropriate japanese "Power Automate Office スクリプトを実行する"→"PowerAutomate を使用して Office スクリプトを実行する" (ja-jp)

related:#257
ja-jp:"https://docs.microsoft.com/ja-jp/office/dev/scripts/develop/power-automate-integration"
![power-automate-integration_j2](https://user-images.githubusercontent.com/40815708/115002248-7acbbc00-9edf-11eb-9408-19714e154eac.png)

---
#### Document Details

⚠ *Do not

[2021-04-16 17:24] AlexJerabek commented on #261
Thanks for raising this issue @hyoshioka0128. I have one again passed it along to our localization team for analysis.

[2021-04-20 10:13] Durgesh1402 opened #263 "Image"
Hi,

How to insert an image from one sheet to another by script?
or
How to insert an image from the folder to the excel sheet by script?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0de752a-5e17-5c20-acd7-67f9726bc767
* Version Independent ID: 4304ad93-6811-7101-4077-7f3366ace997
* Content: [Basic scripts for Office

[2021-04-20 21:11] ElizabethSamuel-MSFT commented on #263
@Durgesh1402 Thanks for asking about this.

@sumurthy Can you provide any guidance or example here?

Thanks.

[2021-04-26 23:22] hyoshioka0128 commented on #261
@AlexJerabek - Corrected. Thnks!
Closed #261.

[2021-04-26 23:22] #261 closed

[2021-04-30 19:30] mscharlock commented on #263
Following up @sumurthy :)

[2021-05-03 18:09] AlexJerabek commented on #263
Hi @Durgesh1402,

Here's a sample script to copy an image from one worksheet to another:
[code]

I'll look into the second scenario (insert an image from a folder) as well. In the meantime, you can use the Record Actions button to generate a script based on UI actions. So, you can record yourself inserting the image you want.

[2021-05-07 18:02] AlexJerabek commented on #263
I've created an [internal work item ](https://office.visualstudio.com/OC/_workitems/edit/5094346) to add this sample to the docs in some capacity.

[2021-05-12 20:04] JasonH-Msft opened #280 "Request for new article: Restoring Deleted Office Scripts"
Could a new article be written on the topic of how to restore deleted scripts (from OneDrive)?  This will be a good reference for support when customers accidentally delete or troubleshoot when they don't see a Script they expect in the available scripts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea78ca2e-5171-be4

[2021-05-12 22:41] AlexJerabek commented on #280
Hi @JasonH-Msft,

Thanks for the suggestion. You're right that this is done through the OneDrive file controls. I've added this request to our documentation backlog to consider how we link to that information and help Office Scripts customers discover that solution.

Here's the [internal link to the work item](https://office.visualstudio.com/OC/_workitems/edit/5107272).

[2021-05-13 16:55] #263 closed

[2021-05-14 21:28] rootsmusic commented on #240
@AlexJerabek, https://aka.ms/oscripts is linked to "give feedback" on https://developer.microsoft.com/en-us/office-scripts

[2021-05-17 20:18] nancy-wang opened #290 "Steps 7-9 no longer up to date"
![image](https://user-images.githubusercontent.com/29635014/118550794-20668b00-b72b-11eb-9fef-ac4fde1ea1f0.png)

[We now automatically save a script after a user stops recording. The script details pane contains options to rename a script (hover over script name or look in the ... menu) and update its description]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-05-17 20:20] jedunn opened #291 "Script access icon has been updated"
Minor bug in the screenshot for sharing scripts section - the icon under the script access heading has been updated to the image below.

![image](https://user-images.githubusercontent.com/15387944/118550994-3b78d100-b712-11eb-8c36-7621db358560.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f67f2ac9-6bd4-a5fc-20b0-

[2021-05-17 20:25] wamaina opened #292 "Office Scripts as a "cross-platform solution" is a bit confusing"
## Article URL
https://docs.microsoft.com/en-us/office/dev/scripts/resources/vba-differences

## Issue
Today, Office Scripts doesn't have cross-platform support but we call this out as a guiding principle. Is this how we want the community to think of Office Scripts now?

[2021-05-17 20:29] wamaina opened #295 "Should we provide a refence to a Power Automate tutorial?"
## Article URL
https://docs.microsoft.com/en-us/office/dev/scripts/resources/vba-differences

## Issue
We say you can use Power Automate but then don't provide a reference for those who might want to get started. Could we incorporate one on this?

[2021-05-17 20:41] AlexJerabek commented on #292
@wamaina, good call.  I assume you're talking about the first line in the linked doc, right? I think this is your call of how we want to pitch the offering. I'm happy to change that to "web-first", if that would be a better message.

[2021-05-17 20:43] AlexJerabek commented on #290
Fixed with #294.

[2021-05-17 20:43] #290 closed

[2021-05-17 20:50] nancy-wang opened #300 "Updating the way we receive recorder/editor feedback from users"
![image](https://user-images.githubusercontent.com/29635014/118554714-d03df780-b72f-11eb-9bfc-17a7b7048f29.png)

We now direct our users to the "Send feedback" option which is located in the "..." menu of a script's Code Editor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea78ca2e-5171-be4b-1a76-16245c3cf186
* Versi

[2021-05-17 20:53] nancy-wang commented on #295
+1 - we hear a considerable amount of feedback that suggests Power Automate as a key differentiator with VBA; however, not everyone is familiar with Power Automate. Including a reference here could be a great way to showcase the breadth that these two tools have to offer

[2021-05-17 20:57] wandyezj opened #302 "Office Script TypeScript Restrictions in class definitions"
The TypeScript restrictions page should include that Office Script methods may not be used inside class methods or as class properties or passed to class constructors.

## Article URL

https://docs.microsoft.com/en-us/office/dev/scripts/develop/typescript-restrictions

## Issue

Documentation should call out that classes may not use Office Script methods.

[2021-05-17 20:59] AlexJerabek commented on #302
@wandyezj, is this in effect already? If not, I'd like to wait until the linter rule.

[2021-05-17 21:05] nancy-wang opened #303 "Suggestions to wording of script sharing"
"When you share a script with others in a workbook, the script is attached to the workbook. Your scripts are stored in your OneDrive, and when you share one, you create a link to it in the workbook you have open." This was a bit confusing to me - might we be able to simplify to something like "When you share a script in a shared workbook, everyone with access to the workbook can also view and run

[2021-05-17 21:07] nancy-wang commented on #303
also suggest modifying the Next Steps section to read "Complete [...] learn how to create your first Office **Script**."

[2021-05-17 21:11] jedunn opened #304 "Remove preview statement"
Attended scripts will continue to support external calls. Removing the first two sentences from this page should reflect plans accurately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f01b4871-30b7-89f6-7dbb-b91decd7fb41
* Version Independent ID: 41df3d49-f5da-14ed-96d0-7c80161131fd
* Content: [External API call supp

[2021-05-17 21:11] #291 closed

[2021-05-17 21:25] jayrathi opened #310 "Image for 'Implicit Any'"
It would be good to have an image for the implicit any error. There is also an option to 'Quick Fix' the error, we should point that out too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1910d2d4-8ab4-ea96-6836-6184e27df702
* Version Independent ID: b3c3914d-1206-c517-2f9f-6a0d96eeba0c
* Content: [TypeScript restrict

[2021-05-17 21:29] jedunn opened #311 "Folders not supported in production"
I believe folders have not yet be released to production. This section should be removed. - https://docs.microsoft.com/en-us/office/dev/scripts/overview/script-storage#script-folders

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ce9020-ff36-a656-5229-4febd5231b21
* Version Independent ID: 45d64b9f-547b-fcdd-931d-36b

[2021-05-17 21:33] #311 closed

[2021-05-17 21:38] raulclouse opened #314 "Add admin auditing info to Script Storage article"
## Article URL
https://docs.microsoft.com/en-us/office/dev/scripts/overview/script-storage

## Issue
Currently the script storage article doesn't talk about admin audit capabilities - it seems worthwhile to add a section, or at least a sentence, describing how since osts files are stored in OneDrive, all of the same audit capabilities available for admins are present here.  For example something l

[2021-05-17 21:43] raulclouse opened #316 "Add nested array example in Power Automate content"
## Article URL
https://docs.microsoft.com/en-us/office/dev/scripts/develop/power-automate-integration

## Issue
Every time I work with arrays between Office Scripts and Power Automate, I get confused about the proper syntax on both sides, and how to use the array parameters in Power Automate.  It would be useful to have an example showing how you take a 2d array of data from Power Automate, and pa

[2021-05-18 19:40] #292 closed

[2021-05-18 19:41] AlexJerabek commented on #295
Fixed with #321.

[2021-05-18 19:41] #295 closed

[2021-05-19 17:00] peronald opened #324 "There are additional admin controls now"
In the security section of this page, the following sentence is incorrect:
Currently, Office Scripts are either on or off for a tenant. However, we are working to give admins more control over individual scripts and script creators.

It should be "Currently, Office Scripts can be off for an entire tenant, on for an entire tenant, or on for a group of users in a tenant. Admins also have control ove

[2021-05-19 21:00] yutao-huang opened #327 "Need to update the screenshot for the "Instant flow" button (which is now called "Instant cloud flow")"
We should update the screenshot for the create a "Instant flow" button. It's now called **"Instant cloud flow"**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b951170-8016-6d95-be28-575a0e728c4b
* Version Independent ID: 42b9d09a-9e39-f9ed-c278-d40982c8defc
* Content: [Call scripts from a manual Power Automate flow

[2021-05-19 21:04] yutao-huang opened #328 "Need to update the screenshot for the "Automated flow" button (which is now called "Automated cloud flow"."
We should update the screenshot for the "Automated flow" button. It's now called **"Automated cloud flow"**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ec9b05b-0d34-0f27-26b3-c4ae0837f781
* Version Independent ID: 3c2a5c31-bc43-94dd-4591-f5564c5c3655
* Content: [Pass data to scripts in an automatically-run Power A

[2021-05-21 18:28] AlexJerabek commented on #310
Thanks @jayrathi. I'll add the screenshot once the UI text update goes through.

[2021-05-21 18:55] #304 closed

[2021-05-21 19:04] #303 closed

[2021-05-21 19:04] #300 closed

[2021-05-21 20:50] #314 closed

[2021-05-21 21:27] #327 closed

[2021-05-21 21:27] #324 closed

[2021-05-21 21:27] #328 closed

[2021-05-24 21:41] #310 closed

[2021-05-24 23:29] AlexJerabek commented on #302
Hi @wandyezj,

I just tried this scenario and there is no linter error. To repro, add the following data to the top-left corner of a worksheet and run the following script:

**Data**:
|Employee | Salary|
|-- | --|
|Alex | 40000|
|Erik | 50000|
|Kelvin | 60000|

**Script**:
[code]

[2021-06-07 16:04] #280 closed

[2021-07-05 18:31] wandyezj commented on #302
Correct there is no linter error at the moment. However, we should still consider documenting known edges.

https://stackoverflow.com/questions/68164078/why-does-my-function-return-type-turns-into-a-promise-once-i-read-cell-value-or

[2021-07-14 16:28] AlexJerabek commented on #302
@wandyezj, Can you please provide a concise example of this problem?

[2021-07-20 16:46] AlexJerabek commented on #302
Closing as part of #372

[2021-07-20 16:46] #302 closed

[2021-07-21 22:21] KarmaPoliceT2 opened #376 "Type error for objectArray"
Copy pasting this into excel scripts throws an error "Office Scripts cannot infer the data type of this variable. Please declare a type for the variable." for the line "let objectArray = []"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85ab721c-371b-8901-abdc-adbbcbd2c81b
* Version Independent ID: 5cd477ae-cce5-a942-

[2021-07-21 23:11] AlexJerabek commented on #376
Thanks for reporting this @KarmaPoliceT2. I'll investigate this and fix the sample soon.

[2021-07-22 16:58] AlexJerabek commented on #376
Hi @KarmaPoliceT2,

I'll post a PR to address this soon. The issue relates to the recent change of Office Scripts no longer supporting the `any` type. You can read more about that [here](https://docs.microsoft.com/office/dev/scripts/develop/typescript-restrictions#no-any-type-in-office-scripts). The fix is to give an explicit type to the table row array and values passed to that array.

[2021-07-22 22:50] #376 closed

[2021-08-06 21:32] #316 closed

[2021-08-12 05:28] MiyukiAmino opened #386 "Is *.xlsm file supported, and is it supported by other actions besides "Run script" action via Power Automate?"
[Enter feedback here]
questions:
 1. Is *.xlsm file supported via Power Automate?
 2. is it supported by other actions besides "Run script" action  via Power Automate?

There is a difference in the descriptions between this doc and Excel Online (Business) connector's doc, but which is correct?

Excel Online (Business) Connector says below:
'The connector supports files only in Microsoft Excel Open

[2021-08-12 23:27] AlexJerabek commented on #386
@MiyukiAmino
This scenario **_is_** supported in Power Automate. You can use .xlsm files with, and only with, the Run Script action of the Excel Online - Business connector using the steps listed in the article. Other actions on that connector do not support .xlsm files.

[2021-08-12 23:31] MiyukiAmino commented on #386
Thanks, @AlexJerabek
It's great to have more types of files to use in Power Automate! Could you please mention in this docs that only the Run script action can be used.

[2021-08-12 23:33] MiyukiAmino commented on #386
And I'll request modifications to the connector doc as well.

[2021-08-12 23:34] AlexJerabek commented on #386
Yes, I have created an [internal work item](https://office.visualstudio.com/OC/_workitems/edit/5342595) to track this documentation fix. I'll leave this issue open until that work is completed both in these docs and the connector documentation as well.

[2021-08-12 23:53] MiyukiAmino commented on #386
Thank you so much!

[2021-08-27 16:56] RealHailDents opened #387 "Script to share content between excel files"
Different applications can create daily reports in the form of excel files that need to be synthesized.

A script that could open any number of excel files and copy specific sheets from them into a "master" excel file would be helpful.

I can do this in VBA with the coding:
 ---------------  Start VBA code ----------------
Sub GetData()
'
' GetData Macro
' Gets QUA215PX Raw Data
'

'This top secti

[2021-08-28 22:28] RealHailDents commented on #387
Thank you for your help yesterday. I am hoping to test the solution on Monday. An additional issue I am running into is that our  legacy system is creating .xls files, and power aps is only able to see newer files. Is there a macro or other way to convert .xls files in OneDrive or Sharepoi t with an automation so they can then be seen / recognized, as they are created so they are automatically con

[2021-08-31 20:30] AlexJerabek commented on #387
Hi @RealHailDents,

Thanks for raising this question. Today, there is no way for scripts to work on more than one workbook by themselves. You'll need to use [Power Automate](https://flow.microsoft.com) to transfer data to and from different workbooks. If you haven't already, I'd recommend taking these two tutorials about passing data through a flow with scripts.
- [Pass data to scripts in an autom

[2021-09-01 00:10] MiyukiAmino commented on #386
Hey, @AlexJerabek ! How is the matter going? :)

[2021-09-01 16:18] AlexJerabek commented on #386
Hi @MiyukiAmino,
Sorry for the delay; I've been on leave the last couple weeks. I should have the documentation updated this week.

[2021-09-01 18:13] #386 closed

[2021-09-03 17:37] AlexJerabek commented on #387
Hi @RealHailDents,

I'd like to know a little more about your scenario. Are you trying to copy data from the workbooks into a main workbook? Or do you need to copy everything from the other workbooks (data, formatting, charts, shapes, etc)? The former is doable, the latter is not possible through Office Scripts.

[2021-09-11 01:00] #387 closed

[2021-09-13 20:57] RealHailDents commented on #387
Still looking to get this resolved.  In regard to your question, we have a legacy inventory control system that was created in the 1990s.  It is capable of running reports and exporting reports into excel files.  We run a report that lists all the late orders and orders that will be late unless some action is taken.  The goal is to have the report print every day, so it is up to date.  The problem

[2021-09-13 21:01] RealHailDents commented on #387
At this point I think the steps are:
1) transform XLS to XLSX so power automate can see it
2) Convert the worksheet in the new XLSX file to make the data a table,
3) pull the data from the new worksheet to a repository file that contains all the notes
4) ensure the new file is set up to apply the notes to the correct row based on the row ID number.

[2021-09-13 21:04] RealHailDents commented on #387
@alison-mk can you shoot me a link to where you posted your efforts? Been digging in a lot of places and can't track it down.

[2021-09-13 21:48] AlexJerabek commented on #387
Hi @RealHailDents,

I added the sample[Combine worksheets into a single workbook](https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/combine-worksheets-into-single-workbook) based on your earlier questions. This should help with steps 2 and 3 in your scenario.

For further questions, I'd recommend leveraging the community by asking on [Stack Overflow](https://stackoverflow.com/q

[2021-09-15 15:49] rootsmusic opened #397 "relink "request features""
Link to "request features" redirects to retirement of UserVoice.  See link to "give feedback" (under "get resources") at https://developer.microsoft.com/en-us/office-scripts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f67f2ac9-6bd4-a5fc-20b0-e0b055dbe61c
* Version Independent ID: a0f30a07-4ebf-ac33-6797-43ae7306bede

[2021-09-15 16:56] AlexJerabek commented on #397
Thanks for reporting this @rootsmusic. I'll find out the correct place to request features and update the links.

[2021-09-15 20:10] #397 closed

[2021-09-15 20:13] AlexJerabek commented on #397
Hi @rootsmusic,

Thanks again for raising this issue. The current guidance for feature requests is to raise them in Excel. Use the **Send feedback** button in the Code Editor's overflow menu (**...**).

![image](https://user-images.githubusercontent.com/38896772/133502676-3ba16b1b-c733-4f1e-b9e6-11fe91324eed.png)

[2021-09-17 04:08] Paul-jc opened #400 "Step 5 parameters did not work"
Following this tutorial in step 5 it says to put 'Results' from the 'Run script' dynamic content in worksheetInformation.

When I did this the flow would fail with error code Office JS error: Line 7: Workbook addWorksheet: The argument is invalid or missing or has an incorrect format.
clientRequestId: b281f0ce-ed7a-4794-ac31-fb7abac1fbb5

I was able to fix get the worksheets to create by putting d

[2021-09-17 16:48] AlexJerabek commented on #400
Hi @Paul-jc,

Thanks for raising this issue. I believe the problem is that the default input for that `worksheetInformation` field is for individual elements of the 2D array (as you discovered with all the data going into one cell). There's an option in the upper-right corner of that field box to switch to passing the entire array. If you press that button, the connector will take in a single para

[2021-09-17 20:45] RealHailDents commented on #387
I don't have anything to post as I have not been successful in hitting an XLS file, it is not recognized by power automate to take any actions on.  Not sure how to even begin to program an automate flow when the file is not even seen... I am going to review the convert .csv file information to see if there is a way to make the conversion.

[2021-09-17 21:25] AlexJerabek commented on #400
Hi @Paul-jc,

I created PR #401 to help highlight this step. Please let me know if this advice fixes your problem.

Thanks!

[2021-09-18 00:49] Paul-jc commented on #400
Thank you. I retried it, this time switching to the array input before selecting 'results' and it worked.

The order of these steps could be clearer.

[2021-09-20 16:15] AlexJerabek commented on #400
Agreed on the need for clear steps. I've added more instruction around that step:
![image](https://user-images.githubusercontent.com/38896772/134036782-793af51d-a91f-4d29-a7b1-dc1fb6953030.png)

Hopefully that helps, given the field and switch button only show up after you've selected a script.

These changes will soon be checked into the `master` branch of this repo and pushed to the `live` branc

[2021-09-20 16:15] #400 closed

[2021-09-27 07:06] AbinashBehera27 opened #404 "why Dx0nn1FelFp sheets are getting created in combined workbook.?"
Hi,
I have created a flow in Power Automate to combine two different workbooks having each 1 sheet, into a single workbook containing each of the sheets.
While The flow gets succeeded, but two extra sheets get added into the Workbook named "workbooks1.Dx0nn1FelFp" and "workbook2.Dx0nn1FelFp" . How can we ignore these two sheets.
Please suggest.

Thank You,

---
#### Document Details

⚠ *Do not edi

[2021-09-27 17:28] AbinashBehera27 commented on #404
Hi Alex,
Thank you for your reply,

1. No, these worksheets are coming from no where, its neither present in Original workbooks nor it was there in combined workbook before running the flow.
2. For Run Script 2, I have clicked **Switch to input entire array button** button for the worksheetInformation option. and given value as results(dynamic content) from previous step(excel run script).

The co

[2021-09-27 18:02] AlexJerabek commented on #404
Thanks @AbinashBehera27. That helps narrow things down.

Have you made any changes to the sample scripts? If so, could you post your script? My thought is that the the worksheet name is getting a different value somehow. The sheet name looks like a function pointer or some other internal reference.

As a debugging step, you can also add a console.log statement to the end of the **Return worksheet

[2021-10-04 22:00] #404 closed

[2021-10-10 08:00] yaron-sam opened #408 "obsolete typescript link"
all linked page in typescript website have this message "This page has been deprecated"

## Article URL
https://github.com/OfficeDev/office-scripts-docs/blob/master/docs/includes/coding-basics-references.md

## Issue
all typescript  page has been deprecated. need to update the link

[2021-10-11 16:48] AlexJerabek commented on #408
Thanks for reporting this @yaron-sam. I'll fix the links.

[2021-10-11 17:23] #408 closed

[2021-10-26 22:27] iUnknwn opened #416 "Power Automate Will Not List Script Inputs if Main Returns Object"
Our team wrote an Excel Script with the following signature:

[code]

We couldn't figure out why we could not get the `testDataJson` input to show up in Power Automate.

We then changed the function to return a json string instead of an object, and then Power Automate properly showed function inputs.

I'm not sure if this is a bug, or a documentation issue, but the current docs say the main script

[2021-10-29 19:16] debresnick opened #417 "Getting an error: the number of rows or columns in the input array doesn't match the size or dimensions of the range."
I have copied this directly from the instructions and it was working, and then it wasn't. As far as I can tell nothing changed. I'm pulling data from a power apps collection and parsing it using JSON, opening the template, copying it into a new excel file, and running the script to put the CSV data (from the JSON) into the new excel file. I'm very new at this, and can't figure out what this error

[2021-10-29 21:24] ElizabethSamuel-MSFT commented on #417
@debresnick Sorry to hear you're hitting this issue.

@AlexJerabek Can you take a look?

Thanks.

[2021-11-01 13:46] carry2web opened #418 "Open Excel Online on a specific cell"
If you look online for subject, you find various parameters like append &activeCell=SheetName!Cell or item=ItemName to the open URL. Is that how this should be done or should you store a Script and use that to display the to be opened cell?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 98c58cbf-aaf7-3d

[2021-11-01 20:42] AlexJerabek commented on #418
Hi @carry2web,

It depends on your scenario, but generally the URL parameter is the better option. If you want a workbook to always open with cell B123 selected on worksheet "Sheet1", you'd add `&activeCell=Sheet1!B123` to the URL.

The script solution requires someone to run the script, which seems like as much work as navigating to the cell manually.

For the record, the Office Scripts API to us

[2021-11-01 20:42] #418 closed

[2021-11-01 20:46] AlexJerabek commented on #417
Hi @debresnick,

I'm sorry to hear this is no longer working. I'll take a look and see if there's some case that makes this sample fail.

Can you provide a sample csv file for me to test with?

Thanks!

[2021-11-01 22:12] debresnick commented on #417
Thank you so much for getting back to me! After a lot of troubleshooting I
determined that I had my csv table missing some double quotes. I got it
running as of late this afternoon.

On Mon, Nov 1, 2021, 4:46 PM Alex Jerabek ***@***.***> wrote:

[2021-11-01 22:44] AlexJerabek commented on #417
Ah, that makes sense. The row and column mismatch is probably from a cell with a comma in it being interpreted as two cells.

[2021-11-02 16:53] #416 closed

[2021-11-04 23:36] #417 closed

[2021-11-05 14:52] williamfromIT opened #424 "SP equivalent"
[Enter feedback here]
Can we have a SharePoint equivalent please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 688cb5b0-672f-8480-8943-6e4bc403d6b9
* Version Independent ID: 61518540-2796-b66f-4bc7-aef0eca420ad
* Content: [Combine workbooks into a single workbook - Office Scripts](https://docs.microsoft.com/en-us/off

[2021-11-05 16:55] AlexJerabek commented on #424
Hi @williamfromIT,
I'll investigate adding that case to the sample. In the meantime, can you please elaborate more on your scenario? What is the workflow you're trying to automate?
Thanks!

[2021-11-05 17:31] williamfromIT commented on #424
Hi @AlexJerabek

On my SP I have a folder called Customer containing 10 folders with each customer name. The 10 folders contain 2 - 5 .xlsx files each.

My goal is to get all of those different .xlsx files into a single customer file.

[2021-11-05 18:41] peronald commented on #424
@williamfromIT you can achieve your scenario today by choosing the SharePoint file in the Excel Online connector. Instead of OneDrive, you would choose the site of the workbook in the Location property of the connector and then select the relevant Document Library and File path of the workbook that is located in the SharePoint site you chose.

[2021-11-05 19:03] williamfromIT commented on #424
@AlexJerabek @peronald

Thank you!

Hi guys! I got it half way made. It takes the first report and places it in my newly created document but then it hangs and the flow does not finish. It does not process the rest of the files.
I attached some pictures. [Link](https://imgur.com/a/5Tevtg5)

[2021-11-06 18:31] Sotapanna opened #426 "A for -while- incrementing loop please."
## Article URL

## Issue

[2021-11-06 21:19] williamfromIT commented on #424
@AlexJerabek @peronald

What is the sheet size of what can be returned on a sheet? I think my 10K is to much?

[2021-11-08 17:52] AlexJerabek commented on #424
Hi @williamfromIT,

Here are the [data limits](https://docs.microsoft.com/en-us/office/dev/scripts/testing/platform-limits#data-limits) for Office Scripts with Excel on the web:
- Requests and responses are limited to 5MB.
- A range is limited to five million cells.

Here's the advice about dealing with large data sets from that article:

[2021-11-08 18:03] AlexJerabek commented on #426
Hi @Sotapanna,

Thank you for the documentation request. Could you please provide more context on what scenario you need assistance with? We have some examples of incrementing `for` loops in the samples, such as this one that shows how to [Change each individual cell in a range](https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/excel-samples#change-each-individual-cell-in-a-ran

[2021-11-15 22:00] #426 closed

[2021-11-15 22:00] #424 closed

[2021-11-18 17:20] mlamberty opened #433 "Convert CSV files to Excel : Runtime error: Line 28: Cannot read property 'getRangeByIndexes' of undefined"
Power Automate script that creates  4 csv files based on Graph API response. unable to run script at the end. largest csv fiile has 147 rows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fdee872-3dfe-61b6-f824-dc8c74625c36
* Version Independent ID: c4481c81-ebae-7b3a-5da9-1757fb575188
* Content: [Convert CSV files t

[2021-11-18 17:56] AlexJerabek commented on #433
Hi @mlamberty,

Thanks for sharing your issue. I'm going to assume this error is coming from these two lines of the sample (please correct me if I'm wrong):
[code]

The error message "Cannot read property 'getRangeByIndexes' of undefined" implies the object 'getRangeByIndexes' is being called on does not exist. In this case, that's the worksheet. Does your workbook have a worksheet named "Sheet1"?

[2021-11-25 19:02] #433 closed

[2021-12-03 15:12] MisterMxyztplk opened #436 "Script Error for analyze-web-downloads file"
Hi,

This script produces an error and will not run in Excel.

Error message:
See line 46, column 7: Office Scripts cannot infer the data type of this variable. Please declare a type for the variable.

Does anyone have any suggestions for a newb?

Thanks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-12-03 17:20] AlexJerabek commented on #436
Hi @MisterMxyztplk,

I'll take a look and see if I can reproduce the issue.

In general, that error refers to Office Scripts not supporting variables of `any` type. This article describes those scenarios and gives some workarounds: https://docs.microsoft.com/en-us/office/dev/scripts/develop/typescript-restrictions#no-any-type-in-office-scripts

[2021-12-03 17:32] AlexJerabek commented on #436
Hi @MisterMxyztplk,

The change needed in the script is switching the line `let newCol = [];` to `let newCol: (boolean | string)[][] = [];`. This is because the first version does not specify a type and it cannot be implicitly determined. Multiple types are added (boolean for the data and string for the header), so we need to explicitly let the script know that's what's going in the array.

PR #43

[2021-12-04 22:53] williamfromIT commented on #424
I am having an issue. The script works to return sheets with 250K cells, no problem. on 350K+ it sits and never completes. Well under the 5 million data limits. Any ideas?

[2021-12-08 00:01] #436 closed

[2021-12-08 23:52] MiyukiAmino opened #440 "Describe the timeout when the scripts are executed via Power Automate"
The script which is successful via Excel is sometimes failed via Power Automate due to timeout. #504 GatewayTimeout
Could you describe it as a limitation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4085c6ff-856c-4704-8d72-5ef0ca1f64c1
* Version Independent ID: 92eda514-0e20-3add-4b61-62d82d210549
* Content: [Platfo

[2021-12-10 07:42] RuoyingLiang commented on #440
Thanks for reaching out. @AlexJerabek, could you help to take a look?

[2021-12-13 18:46] AlexJerabek commented on #424
@williamfromIT, it's possible you're reaching the [5MB limit for requests and responses](https://docs.microsoft.com/en-us/office/dev/scripts/testing/platform-limits#excel). If that's the case, an individual script would fail outside of Power Automate.

The [Write a large dataset sample](https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/write-large-dataset) provides an example f

[2021-12-13 22:02] AlexJerabek commented on #440
Thank you for reporting this documentation gap @MiyukiAmino. I will begin investigating and work on updating the documentation accordingly.

[2021-12-14 20:42] AlexJerabek commented on #440
Hi @MiyukiAmino,

I've created PR https://github.com/OfficeDev/office-scripts-docs/pull/443 to highlight this timeout. If you'd like specific advice about optimizing your script to avoid the timeout, I'd recommend posting on [Stack Overflow with the tag office-scripts](https://stackoverflow.com/questions/tagged/office-scripts). Stack Overflow is a good forum our team and members of the community t

[2021-12-14 22:52] #440 closed

[2021-12-22 06:51] ashtonfei opened #445 "How do we handle image when the base64 image data source is not support like Gmail?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d299a854-5d50-c4bf-d5a1-c178fee014f1
* Version Independent ID: 33944d06-a819-de79-8c42-aaed89201889
* Content: [Email the images of an Excel chart and table - Office Scripts](https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/email-

[2021-12-22 18:41] AlexJerabek commented on #445
Hi @ashtonfei,

Thanks for reaching out. Let me recreate the sample and investigate swapping Outlook for Gmail. I'll get back to you soon.

[2021-12-22 19:25] AlexJerabek commented on #445
Hi @ashtonfei,

Could you please verify that you switched to "Code View" before entering the HTML for your Gmail body? That lets you enter the HTML needed to handle the base64 image encoding.

![image](https://user-images.githubusercontent.com/38896772/147144878-f3d7af17-30ca-4651-9946-43aa6f6f1734.png)

[2021-12-23 01:53] ashtonfei commented on #445
Sorry, Alex. I think I didn't describe the problem very clearly. It's not a problem with sending the email, but the src attribute of the img tag was removed in Gmail (as a recipient, I guess different email server handles it differently).

Example: send to a Gmail from outlook, img src was removed.
![image](https://user-images.githubusercontent.com/16481229/147175188-737af72c-03aa-457c-8b73-b210fb

[2021-12-27 17:50] AlexJerabek commented on #445
Hi @ashtonfei,

Thank you for clarifying. I think you're right that this has to do with how Gmail handles images. I found a relevant Stack Overflow thread: https://stackoverflow.com/questions/21437916/html-image-not-showing-in-gmail. I'd recommend trying to add some of the attributes suggested in that thread (minus the "source" attribute since you're supplying it as a string).

I'll admit that thi

[2021-12-30 13:53] ashtonfei commented on #445
Thanks, Alex.
Seems like no luck there too. Base64 image is not supported in most of the email services, I believe Outlook also blocks it when the source is not trusted.
So if we want to send base64 images with Power Automate, do you know if we can send these images as attachments and use them as inline images?

[2021-12-30 19:08] AlexJerabek commented on #445
Hi @ashtonfei,
My initial thought was to save the .png file as a OneDrive file, then attach that. However, that translation didn't seem to work for me. Let me tag @yutao-huang to get some advice.

[2022-01-03 19:54] yutao-huang commented on #445
Hi @ashtonfei ,

Regarding "send the images as attachments and use them as inline images", I believe you'll need to use the "**cid** (content id) embedding" approach. I was able to make it work with this proof-of-concept flow using the Run script action and Gmail's Send email (V2) action:

![image](https://user-images.githubusercontent.com/1132864/147972852-0e3a8bfd-f00d-4448-ac08-0b049008ca5a.png

[2022-01-04 06:39] ashtonfei commented on #445
@yutao-huang Thanks a lot for the solution with the Gmail connector, and the approach is exactly what we are doing in Apps Script [GmailApp API](https://developers.google.com/apps-script/reference/gmail/gmail-app#advanced-parameters_1).
For Outlook connector, it's a good idea to have a similar feature or other workarounds since most of the Power Automate users will use Outlook to send emails, espe

[2022-01-04 19:40] AlexJerabek commented on #445
Thanks @yutao-huang!

@ashtonfei, I'm going to close this issue, since I believe your question is resolved. I'll also pile on Yutao's suggestion to upvote that [Outlook connector improvement idea](https://powerusers.microsoft.com/t5/Power-Automate-Ideas/Add-content-id-and-inline-options-to-attachments-so-that-images/idi-p/742803). Please let us know if you need anything else.

[2022-01-04 19:40] #445 closed

[2022-01-05 06:39] ashtonfei commented on #445
Thanks, @AlexJerabek

[2022-02-24 09:48] george-101 opened #461 "The second script offsets rows to the left by 1 cell if the begining cell is blank. Is there a fix for this issue?"
I'm trying to convert some reports from CSV to XLSX using the second script from this page.

function main(workbook: ExcelScript.Workbook, csv: string) {
  let sheet = workbook.getWorksheet("Sheet1");

  /* Convert the CSV data into a 2D array. */
  // Trim the trailing new line.
  csv = csv.trim();

  // Split each line into a row.
  let rows = csv.split("\r\n");
  rows.forEach((value, index) =>

[2022-02-24 17:09] george-101 commented on #461
Hi Alex,
Thanks for your swift reply.
Unfortunately no the first cell isn't always blank and my attempts to amend the script or to shift the affected rows across  with a separate script so far have proved fruitless. Probably due to being me being a beginner in office scripts.

[2022-02-24 21:45] AlexJerabek commented on #461
Hi @george-101,

It looks like blanks at the beginning of a row are getting ignored because there's nothing there to match. Instead, we'll need to look for a preceding comma before removing the commas from the text. Try this script.

[code]

If you need to test locally (without the flow), assign a value to `csv` at the beginning of the script, like this:
[code]

Please let me know if that solution

[2022-02-25 10:35] george-101 commented on #461
Yes this works. Thank you!

[2022-02-25 14:22] Kaddrik opened #463 "Combine worksheets into a single workbook - not working ?"
Hello,

hope you're doing good.

I found your page about combining worksheets into a single workbook that i found very interesting cause it's exactly what i'm trying to do.

https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/combine-worksheets-into-single-workbook

The problem is i'm trying to combine the content of multiple CSV files into 1 workbook that i would use for consoli

[2022-02-25 14:37] Kaddrik commented on #463
Ah wait...ok, i removed the workbook i want to use for the consolidation from the folder and now i get another error...

We were unable to run the script. Please try again.
Office JS error: Line 7: Workbook addWorksheet: The argument is invalid or missing or has an incorrect format.
clientRequestId: 4c0829e7-0e1f-4837-8bca-51f1a591fd84

hmm...

[2022-02-25 17:51] AlexJerabek commented on #463
Hi @Kaddrik,

Thanks for reaching out. Let me try to offer some advice to help unblock you.

First, are you able to get the sample working without any modifications? Getting CSV files working is an involved step (there's a [whole other sample on that](https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/convert-csv)), so it's good to test parts of your flow separately.

In your fi

[2022-02-25 19:13] Kaddrik commented on #463
Hello @AlexJerabek ,

Thanks for your answer. Well I wrote here cause there was a feedback link atthe bottom of the page and since it's a microsoft page i wanted to be sure i would ask the question to the author. I wasn't sure i could go on Stackoverflow. anyway, i will answer here...

I created a xlsx file that i called Template, where i added your 2 scripts as they are on the page. i didn't modi

[2022-02-25 20:00] AlexJerabek commented on #463
GitHub lets you add pictures by pasting them directly into the reply text box. If you're on Windows, you can take screenshots of your flow steps by pressing **Windows Key + Shift + S** and selecting the relevant part of the screen, then pasting that snip here.

As for the script steps, you don't need to replace anything in the line
[code]

That's a [template literal](https://developer.mozilla.org/

[2022-02-25 20:14] Kaddrik commented on #463
well, for the copy/paste, that's what i did but it didn't work.

"Template" is the name that i used for my file where i added the scripts to and that should get all the tabs... maybe i should have call it another way to be clearer :-P

ok so at the end, there's nothing to change in the scripts, the fact that i just copied them and pasted them into my "Template.xlsx" file is correct. but it doesn't

[2022-02-25 20:23] Kaddrik commented on #463
@AlexJerabek ,

ok i don't understand. I still didn't change anything and i try it again but now it works...

but I have 2 workbooks that should go into one...and in the destination one (the one i called "Template") now i have  4 tabs. first one is the Sheet1 that is the default one when you open a blank xlsx file...

![image](https://user-images.githubusercontent.com/72975053/155796008-7e878a68-3

[2022-02-25 20:24] Kaddrik commented on #463
ah now the copy paste works as well 😂

[2022-02-25 22:16] AlexJerabek commented on #463
Thanks for sharing that. I'm glad we seem to be making progress.

The script shouldn't be able to use the variable names as information, so I'm not sure how that worksheet called "${workbookName},${value.name}" is being created. Double check there's not an extra line in that script (or just re-copy the original sample script.

If possible, could you also share a picture or your flow? Here's the co

[2022-02-25 22:21] #461 closed

[2022-02-26 15:02] Kaddrik commented on #463
Hello @AlexJerabek ,

So now everything seems to be working...which is strange cause i didn't change anything from the first post to the last one. The only thing i did was trying again and again so i really don't know what happened. I even managed to adapt it to my SharePoint list. I will show here how i did it for SharePoint

![image](https://user-images.githubusercontent.com/72975053/155847801-4

[2022-02-28 18:06] AlexJerabek commented on #463
I'm glad it all worked out, even if we're not sure what changed. I'm going to close this issue, but please raise a new one if you encounter any problems with the CSV conversion scripts.

[2022-02-28 18:06] #463 closed

[2022-03-11 01:45] thanhrieker opened #470 "Convert CSV files to Excel workbooks - Office JS error: Line 33: Worksheet getRangeByIndexes"
Hello,

I just got error from Power Automate after implement example convert CSV to Excel by following article bellow:

## Article URL
[Document about convert CSV to Excel](https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/convert-csv)

## Issue
All step are working well but with large CSV file I run in [troubleshooting](https://github.com/OfficeDev/office-scripts-docs/blob/mai

[2022-03-11 21:15] ElizabethSamuel-MSFT commented on #470
@thanhrieker Thanks for letting us know about this.

@AlexJerabek Can you take a look?

Thanks.

[2022-03-15 02:07] thanhrieker commented on #470
For sample file the script running well through Power Automate. The error just occur when I run own large file.

Sorry but I can not provide a version of the .csv file. But I can tell you the file with more then 46.000 rows and 62 columns. Split by semicolon.

Thanks you for your quick reply
Thanh

[2022-03-15 19:46] AlexJerabek commented on #470
Thank you for the response @thanhrieker.

It looks like that error is generated when too much information is being transferred. If that's coming through Power Automate, I think you're hitting this limit:
https://powerusers.microsoft.com/t5/General-Power-Automate/Error-code-413-when-using-Get-File-Content-on-files-larger-than/td-p/212326
You could also be bumping against the 5MB read/write limit of

[2022-03-16 01:38] thanhrieker commented on #470
Thanks you for your information. Yes, you are right. Our csv file come to the limit of Excel.

I already try both but:
- The first script got error: "The number of rows or columns in the input array doesn't match the size or dimensions of the range."
- Then try second script got that I report on this issue.

Thanks
Thanh

[2022-03-16 20:37] AlexJerabek commented on #470
Just to confirm, you're using the second script because your CSV file doesn't have equal sized rows, correct? Something like this?
[code]

[2022-03-16 20:40] AlexJerabek commented on #470
Also @wandyezj,
Any idea why this script is hitting the Excel limit? The write operations are separated in the loop by reads, which should force a trip to the server, right?
[code]

[2022-03-17 00:43] thanhrieker commented on #470
Hello,

Please have a look example CSV file in attachment.

Thanks
Thanh
[help_csv.txt](https://github.com/OfficeDev/office-scripts-docs/files/8278277/help_csv.txt)

[2022-03-17 16:48] AlexJerabek commented on #470
Thanks for the sample file. I'll take a look.

[2022-03-17 18:15] AlexJerabek commented on #470
Thank you @thanhrieker. I am able to reproduce the error locally now. My suspicion was correct the write operations are getting batched, so the script is trying to write all 46000 rows at once.

I'll try to figure out a workaround for this. My thought is that if we can break this up to batches of 10000 rows, everything should be fine.

[2022-03-17 18:58] AlexJerabek commented on #470
Okay, I think I have made progress in finding a solution for you.

First, thank you for highlighting the gap in the article's coverage of semicolon-separated value files. I will update the article to be more inclusive of other systems.

As for the main concern, we can force the script to sync with the workbook at certain intervals, making sure the amount of data is less than the size limit. A `con

[2022-03-18 01:07] thanhrieker commented on #470
Thanks you @AlexJerabek for updated script. I will try then let you know.

Have a nice day
Thanh

[2022-03-18 06:29] thanhrieker commented on #470
@AlexJerabek the error 413 is gone but time out come:

`{
  "error": {
    "code": 504,
    "source": "europe-002.azure-apim.net",
    "clientRequestId": "38d75597-e1ff-4369-abc9-70ec6f8f8d9c",
    "message": "BadGateway",
    "innerError": {
      "status": 504,
      "message": "Request to Graph API has timed out.\r\nclientRequestId: 38d75597-e1ff-4369-abc9-70ec6f8f8d9c",
      "error": {

[2022-03-18 15:37] AlexJerabek commented on #470
Thanks @thanhrieker. I was afraid we'd hit that timeout.

 @GeoffRen @wandyezj @gergzk, any ideas to help here? Basically, the CSV data is too large to write without reaching the Excel data limit, but batching the write operations causes it to exceed the Power Automate timeout limit.

[2022-03-23 11:44] dalfaand opened #475 "Macro examples"
Hello,

Would it be possible to give some examples of macros that work with this Power Automate action? I've tried some simple VBA Subs and Functions but the scripts are not detected through the metadata Id.

Thanks,
Diego

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 223ead84-90d7-4705-e878-2fd1684d8395
* Version Ind

[2022-03-23 18:03] AlexJerabek commented on #475
Hi @dalfaand,

Thank you for reporting this issue. I have reached out to the product team to try and get some examples and more guidance about this scenario.

[2022-03-24 10:34] aletrovato opened #476 "Problem with Page about Date"
I would like to report a problem with this page.

Suggestion 1:
As I am looking for information on working with dates in office script, the text has a problem with the link in this paragraph:
"The next sample reads a date that's stored in Excel and translates it to a JavaScript Date object. It uses the date's numeric serial number as input for the JavaScript Date."
The link is directing to the Now

[2022-03-24 15:51] AlexJerabek commented on #475
Hi @dalfaand,

Macros cannot be run through Power Automate. This article is describing that Office Scripts (the web-based automate solution) can be run on .xlsm files through Power Automate and the extra step needed to make that happen.

I agree that the documentation is misleading here. I'll leave this issue open and work to update it. Thank you.

[2022-03-24 16:58] AlexJerabek commented on #476
Thanks for pointing out this issue @aletrovato. I'll get the page updated soon.

[2022-03-24 17:16] aletrovato commented on #476
How amazing the speed of the response.
Thank you so much Alex!!!

*Alessandro Trovato*

*Microsoft MVP / Instrutor LinkedIn Learning / Youtuber*

Blog, Catálogo Virtual das Aulas e cursos com certificado
<https://linktr.ee/alessandrotrovato>

Acesso ao Youtube <http://www.youtube.com/aletrovato>

App gratuito na Play Store <https://bit.ly/apptrovato> com as aulas

*Compartilhando conhecimento, sem

[2022-03-24 18:12] AlexJerabek commented on #476
Hi @aletrovato,

First, thank you for raising this issue. I have reached out to the product team to see about adding convenience methods to Office Scripts to make working with dates easier and more intuitive.

I wanted to follow up about your two suggestions. For the NOW function link, I had originally linked to that page because it contained the best description of the Excel date serial number. I

[2022-03-24 19:30] aletrovato commented on #476
Hi Alex!

Your idea to develop a more practical way to work with dates is very welcome. When I tested today some scripts for date handling I ran into the problem of using the Date library (I didn't know it yet). The conversion of DataSerial types to standard JavaScript is confusing, perhaps it could also be an item in the Office Script help pages. I have written articles, produced a course and sev

[2022-03-28 15:39] #476 closed

[2022-03-28 16:26] Xochipilli0 opened #479 "Office Script to convert csv to excel file"
Hi, in the Microsoft support page tackling the above issue, there are two scripts, the second one supposedly slower but with greater flexibility for csv files having different number of columns in each line. The pb is that it look like the two scripts are identical...
Where is the difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-03-28 19:30] AlexJerabek commented on #479
Hi @Xochipilli0,

The difference between the two scripts was calling a `setValues` statement inside of a loop. There was an inaccurate assumption that behavior would force the script to communicate with the Excel workbook, meaning a network synchronization would happen for every row. However, those calls are intelligently batched by the compiled version of the script.

https://github.com/OfficeDev

[2022-03-28 19:46] #475 closed

[2022-03-29 19:16] AlexJerabek commented on #479
https://github.com/OfficeDev/office-scripts-docs/pull/471 has been checked in, so I'll close this issue. Please let me know if you have further questions.

[2022-03-29 19:16] #479 closed

[2022-03-30 10:18] Kaddrik opened #481 "Workbook data on 1 line"
Hi @AlexJerabek ,

Hope you are doing good.

I'm sorry for disturbing you again. I contacted you a few weeks ago about a problem i had when trying to set things up when following your post about how to combine multiple sheets into 1 workbook. ...which finally worked.

Now, i have the time to go on with this and am trying to understand how to convert a CSV into a workbook.

I followed your second p

[2022-03-30 21:10] AlexJerabek commented on #481
Hi @Kaddrik,

Is it possible to provide your sample CSV data? That will make it easier to reproduce and test your issue.

Thanks!

[2022-03-31 06:56] Kaddrik commented on #481
Hello @AlexJerabek ,

Thanks a lot for your answer.

Please  find attached a zip that contains the CSV, the workbook with the script from your post and the resulting workbook.

[OneDrive_1_3-31-2022.zip](https://github.com/OfficeDev/office-scripts-docs/files/8386585/OneDrive_1_3-31-2022.zip)

Just one more thing that i didn't mention in the previous post, in the many tests that i did, one of them

[2022-04-01 22:14] AlexJerabek commented on #481
Hi @Kaddrik,

I was unable to reproduce your issue with the sample data you provided:
![image](https://user-images.githubusercontent.com/38896772/161347613-c4b43b38-eb7a-4720-b450-90b65d08a27b.png)

I've recently updated the article, so please double check with the current version of the script: https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/convert-csv#sample-code-insert-co

[2022-04-01 22:33] AlexJerabek commented on #470
Hi @thanhrieker,

Juist wanted to check in and say I haven't forgotten about this issue. I'm trying to create a solution that will partially parse the file before timing out, then call the script again. Hopefully I can have something to help you next week.

[2022-04-02 03:01] thanhrieker commented on #470
Thanks
Thanh

[2022-04-03 21:59] Kaddrik commented on #481
Hi @AlexJerabek ,

First of all thanks a lot for all your time.

so...i just gave it a try with the new script (the updated one on the page based on the comma) and ...it works !!! that's so cool !!  😊

I now have my PowerApps form converted into multiple CSVs, then the CSVs converted into multiple workbooks and then ..all the workbooks consolidated into 1 single workbook  !

The only thing i have

[2022-04-06 19:10] AlexJerabek commented on #470
Hi @thanhrieker,

I wanted to share a solution I came up with you. The idea is that the script is run multiple times on different parts of the workbook. For testing purposes, I changed flow to only run on one file, but the solution should still work with multiple. I'm also using the version of the script that parses based on semicolons, instead of commas.

## Scripts

1. Create a script to convert

[2022-04-06 19:16] #481 closed

[2022-04-07 00:31] thanhrieker commented on #470
Perfect,

Thanks for the update.

I will try and let you know later on.

Regards
Thanh

[2022-04-11 15:15] MattHCJS opened #482 "Does not work at all"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b48cc313-02d3-8e70-d74c-4055391e2c9f
* Version Independent ID: 81c9aacf-7609-eb01-e96f-03cea9ecb528
* Content: [Combine data from multiple Excel tables into a single table - Office Scripts](https://docs.microsoft.com/en-us/office/dev/scripts/resources

[2022-04-12 04:15] thanhrieker commented on #470
Hello @AlexJerabek,

I just run script. No more time out but script tell us "Wokbook not found":

[code]

Strange?

Best regards
Thanh

[2022-04-19 19:01] #470 closed

[2022-05-02 22:26] JoannaNaomi opened #491 "Sample code: Add worksheets does not work when entered unaltered"
## Article URL
 https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/combine-worksheets-into-single-workbook

## Issue
 I have tried to use the sample script as is without any alterations to combine two workbooks into one. The first sample code for Sample code: Return worksheet data works fine but when I enter (I have tried typing multiple times and copy paste directly) the sample

[2022-05-02 22:58] AlexJerabek commented on #491
Hi @JoannaNaomi,

Thanks for reaching out. Let me see if I can help you get the scripts and flow working.

Whenever there's a "cannot read properties of undefined" error, it means an object in that line doesn't exist. In this case, that would be `worksheetInformation`, because it does not get a value unless data is provided through Power Automate. Anything defined as an [additional parameter](http

[2022-05-03 16:11] JoannaNaomi commented on #491
HI Alex,

thank you very much for your help and detailed explanation! I got it working with your additional code describing the test data as above. I've also managed to get the power automate flow working too :)

[2022-05-03 16:50] AlexJerabek commented on #491
That's awesome to hear! Glad everything's working smoothly now.

I'm going to close this issue, but if you have any other questions or issues, please let us know.

[2022-05-03 16:50] #491 closed

[2022-05-19 18:28] enchiladadeathtaco opened #497 "Flow fails if multiple emails are received in the same time frame."
Flow fails with error:

We were unable to run the script. Please try again.
Your file was not saved because we could not merge your changes with changes from someone else.

When multiple emails are received in the same time frame and the script is already running. How do we correct this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-05-19 20:46] AlexJerabek commented on #497
Thanks for raising this issue @enchiladadeathtaco. Let me tag @peronald to help understand how to handle multiple flow triggers that run the script at the same time.

[2022-05-26 16:34] nancy-wang commented on #497
@peronald following up here - thanks @enchiladadeathtaco for raising this issue with our team!

[2022-05-26 20:19] yutao-huang opened #498 ""Sample code: Return table data as JSON" does not work"
A customer [reported that the first sample code on this page does not work](https://docs.microsoft.com/en-us/answers/questions/865071/34sample-code-return-table-data-as-json34-does-not.html). I was able to repro it. I provided the customer a temporary workaround but I believe there should be a better fix for that.

I didn't test the other samples on this page, but I assume they are probably also b

[2022-05-27 21:57] nancy-wang commented on #498
Thanks @yutao-huang! Tagging @AlexJerabek as I think this might merit a docs update addressing the implicit any error in our samples

[2022-05-31 18:14] yutao-huang commented on #497
Multiple script invocations against the same workbook at the same time (or within a very short time window) may potentially run into race condition and cause write conflicts.

@enchiladadeathtaco - do you think it's possible to limit the email trigger's concurrency level?

You can configure it through `... Settings` of the email trigger:

![image](https://user-images.githubusercontent.com/1132864/

[2022-05-31 19:16] enchiladadeathtaco commented on #497
@yutao-huang this is great. I didn't know a Concurrency Control existed so will try this out. This will help with other document-specific flows

[2022-06-02 17:02] AlexJerabek commented on #498
Thanks @nancy-wang and @yutao-huang. I've created a temporary fix with #500. I have a longer-term work item to rework the entire scripts+JSON story that should be completed this month.

[2022-06-02 23:16] #498 closed

[2022-06-06 16:07] dmcgimpsey opened #502 "Office Script - Power Automate - Keys parameter..."
Hi Team:

I am trying to run the sample script that was provided to do Excel Cross reference.

I am confused about step 2 where you need to enter the keys:

https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/excel-cross-reference

In the example, it is an excel file, but I am not sure what the result.xlsx is referring to?   Do I need to build it and create a table?

Thanks

Don

[2022-06-06 17:06] AlexJerabek commented on #502
Hi @dmcgimpsey,

The value being passed to "keys" is the returned value from the first "Run script" block. This is the data being returned by the "
"Get Event Data" script. It looks like an Excel file in the Power Automate UI to indicate it's a value from that Excel connector.

To directly answer your question, you do not need to build the table or create a third Excel file. This sample shows a sc

[2022-06-06 19:05] dmcgimpsey commented on #502
Thank you very much for the prompt reply.   These office scripts are new to me - I am still learning a lot - but I love it.

[2022-06-06 20:01] AlexJerabek commented on #502
Of course! There's a lot of cool stuff to do with Office Scripts and Power Automate, which means there's a lot to learn. Please continue to share what's confusing to you so we can refine our documentation. I'll take a pass on that sample you referenced and make sure the result parameter is clearly defined and explained.

[2022-06-06 23:21] dmcgimpsey commented on #502
Hi Alex, I have got it to work as designed.   I am attempting to build a multi-step validation script or process.  There are several parts to it and getting each part to work has been a lot of problem-solving, and searching for answers.    The use case is as follows:    Each day, there is a PDF form that is received that contains an list of transactions for the day.   I have an AI model that reads

[2022-06-07 16:09] AlexJerabek commented on #502
Thanks for sharing the scenario @dmcgimpsey. If you encounter challenges building that flow, I'd recommend the [Power  Automate forums](https://powerusers.microsoft.com/t5/Microsoft-Power-Automate/ct-p/MPACommunity). They're usually really responsive and helpful. Members of the Office Scripts product also patrol those forums looking for Excel-specific questions.

I cleaned up the original sample a

[2022-06-07 16:09] #502 closed

[2022-06-15 21:20] flowerbot opened #511 "Please add a script to find all formulas and replace with their value"
Was looking for a script which finds all (visible) formulas and replaces the contents with their value.  Going to try and write it now.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98c58cbf-aaf7-3d3a-48f4-ce9cebcf331c
* Version Independent ID: 74821d34-eab6-ec0f-7a9f-55aca81975d9
* Content: [Basic scripts for Office

[2022-06-16 16:42] AlexJerabek commented on #511
Hi @flowerbot,

Thank you for this sample request. We can put it on our backlog. May I ask what your scenario is that this script helps solve? That context helps us ensure the sample can help more readers.

[2022-06-17 17:50] AlexJerabek commented on #511
Hi @flowerbot,

Is a script like this what you're looking for?

[code]

[2022-06-24 19:41] AlexJerabek commented on #511
Thanks for the detailed reply @flowerbot. Great to see your scenario and hear your thoughts and challenges about the product.

A one-time button is an interesting feature idea. Tagging @nancy-wang for awareness.

I'm not sure about the script trust mechanics. @peronald, could you please provide some insight?

Add-ins and Scripts have a similar API structure, but are definitely for different audien

[2022-06-24 21:57] #511 closed

[2022-07-08 18:24] EKlein1206 opened #521 "Read day-to-day changes"
It would be incredibly useful to have a script that can calculate the sum of the difference between 2 data points, then output that number so it could be used in Power Automate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98c58cbf-aaf7-3d3a-48f4-ce9cebcf331c
* Version Independent ID: 74821d34-eab6-ec0f-7a9f-55aca8197

[2022-07-08 21:26] AlexJerabek commented on #521
Hi @EKlein1206,

Thank you for this sample request. Could you explain in a little more detail the data you're trying to retrieve from the workbook in this scenario? Are you looking for the script to return the difference between two cells, like what's stored in C1 of this screenshot?

![image](https://user-images.githubusercontent.com/38896772/178072550-0c3e8a52-5e50-4dde-aa00-9ca81e76c8e4.png)

[2022-07-15 18:51] AlexJerabek commented on #521
Thank you for the clarification @EKlein1206. Let me see if I understand better and if this script helps you.

Here's a script that takes in a number from a flow, stores it in the next cell of column A, and returns the difference between the last two cells in column A. Please note that there's no error checking around the value, so the script will throw an error if the value from the form isn't a n

[2022-07-15 19:11] EKlein1206 commented on #521
There will be no issues with non-numbers being submitted with parameters on the form that will only allow numbers. However I just ran the script and it is throwing errors due to (newData). It also is not giving me a result/output currently.

I apologize as I am not the most well versed in this.
________________________________
From: Alex Jerabek ***@***.***>
Sent: Friday, July 15, 2022 2:51 PM
To:

[2022-07-15 19:51] EKlein1206 commented on #521
The first screenshot is what my excel table looks like, similar, however in a table and I include the date. The second is the script error I am receiving. My Form is very simple 2 question, Date selection from the calander, and a Short response question with number only parameters.
________________________________
From: Alex Jerabek ***@***.***>
Sent: Friday, July 15, 2022 3:27 PM
To: OfficeDev/of

[2022-07-15 21:04] AlexJerabek commented on #521
Hi @EKlein1206,

I'm not seeing any screenshots. You may have to paste them directly into the reply on github.com (instead of through an email reply).

[2022-07-18 16:54] EKlein1206 commented on #521
Sorry About that, I hope these are visible
![Screenshot (3)](https://user-images.githubusercontent.com/108834925/179562989-0ce0f2cb-d270-401c-b3f0-ee45f27045ff.png)
![Screenshot (4)](https://user-images.githubusercontent.com/108834925/179562990-55253056-854c-46b9-9a09-b85866f44dd9.png)

[2022-07-18 22:49] AlexJerabek commented on #521
Thanks @EKlein1206!

That error means one of the `getX` calls returned `undefined`. That means a part of the workbook the script expects does not exist. My guess is the error is with this line:
[code]

That code is getting a worksheet named "Tracking". If that worksheet doesn't exist in your workbook, anytime the script tries to use `sheet`, it'll fail. Replace Tracking with the name of your works

[2022-07-25 20:17] EKlein1206 commented on #521
Hello, after trying to run the script with the change of name to what the worksheet is called, I am still getting an error on power automate
 "We were unable to run the script. Please try again.
Runtime error: Line 4: Cannot read property 'getUsedRange' of undefined
clientRequestId: b824223f-1574-4a3a-82d5-19afef2cfc92"
I'm sorry this is not an easy fix, I am hoping it can work

[2022-07-27 15:22] IB-CDP opened #527 "Script fails; getTables() always returns empty array"
'Return Table Data as JSON' script fails on line 12.
`getTables()` seems to always return an empty array.

Can reproduce in new file running the following:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85ab721c-371b-8901-abdc-adbbcbd2c81b
* Version Independent ID: 5cd477ae-cce5-a942-4297-6f23aebd3267
* Content:

[2022-07-28 09:51] JinghuiMS commented on #527
Thanks for reporting this issue. For Excel API issue, please ask it on https://github.com/OfficeDev/office-js.
There's no getTables API on sheet level. You can use sheet.tables instead.
BTW, you can use range.getTables. Please refer to https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#excel-excel-range-gettables-member(1)

[2022-07-28 12:22] IB-CDP commented on #527
The script in the example [here](https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/get-table-data) uses getTables() on a sheet.

<img width="755" alt="Screen Shot 2022-07-28 at 8 20 16 AM" src="https://user-images.githubusercontent.com/110113745/181503476-59df2b00-a223-4e16-b555-10aff592ae53.png">

[2022-07-29 03:21] JinghuiMS commented on #527
Thanks for clarifying your question. This is office script area issue.
@wamaina Would you please help to take a look at this issue? Thanks!

[2022-08-05 22:50] jeremy-msft commented on #527
Tagging @AlexJerabek to help.

[2022-08-08 20:41] AlexJerabek commented on #527
Hi @IB-CDP,

Thanks for creating this issue. Are you using the workbook mentioned on the sample page [here](https://docs.microsoft.com/en-us/office/dev/scripts/resources/samples/get-table-data#sample-excel-file)?

If the worksheet doesn't have any tables, it'll return an empty array (represented in the console by "[]"), preventing the script from doing anything. If you add a table to your workshee

[2022-08-10 20:46] AlexJerabek commented on #521
Hi @EKlein1206,

Sorry about the delay. Just to make sure we're on the same page, could you please provide your version of the script? "Runtime error: Line 4: Cannot read property 'getUsedRange' of undefined" means that the worksheet `getUsedRange` is being called on doesn't exist. Double-check the case-sensitivity and worksheet name, then send it over and we can continue debugging.

[2022-08-12 15:02] cseewald1973 opened #529 "Hide rows / columns based on condition"
Please provide an office script to hide/show columns based on a value in the row above the column heades. Also, hiw to hide/show rows based in the 1st value in the row (Column A).

The code should run until the 1st blank column / row is found

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98c58cbf-aaf7-3d3a-48f

[2022-08-12 17:56] AlexJerabek commented on #529
Hi @cseewald1973,

Thanks for the sample request. I'm not sure I completely understand your scenario. Is it something like the following table?

![image](https://user-images.githubusercontent.com/38896772/184415899-1f82f275-cc2c-40d1-9d2a-1e21ea030282.png)

In that worksheet, we'd want the script to make sure columns A and C are shown, while B is hidden. Is this an accurate version of what you're

[2022-08-13 07:56] cseewald1973 commented on #529
Hi Alex

Thanks for the quick response.
You have understood correctly, below is the VBA code I used to achieve this
using a value of 0 to decide if  a column must be hidden or not .
I have also added a few other useful lines of code.

 Dim cell As Range
          Dim ColWidthRange As Range
          Dim ColSpan As Range
          Dim c As Range

         'User can specify the column width of non h

[2022-08-15 22:02] #527 closed

[2022-08-15 22:18] AlexJerabek commented on #529
Hi @cseewald1973,

Thanks for explaining the scenario a bit more. Here's a script that should handle your original scenario:

[code]

Here's the test worksheet before running the script:
![image](https://user-images.githubusercontent.com/38896772/184727075-dcf03aa1-900b-4352-9782-6967059151b5.png)

And here's the test worksheet after running the script:
![image](https://user-images.githubuserconte

[2022-08-16 12:59] IB-CDP commented on #527
🤦‍♂️ Completely missed that tables were specific user-made constructs within sheets. Not sure what I was thinking. New to Excel 😬

[JinghuiMS](https://github.com/JinghuiMS), FWIW, getTables() does seem work as documented on the linked page.

Cheers all.

[2022-08-17 20:15] EKlein1206 commented on #521
<img width="685" alt="Annotation 2022-08-17 161425" src="https://user-images.githubusercontent.com/108834925/185234217-45ef0992-0c79-45db-b551-4fe1f7f1dffd.png">
I apologize for not copy and pasting it in but it is not formatting correctly and I wanted you to be able to see how it looks as well as the code itself.

[2022-08-18 21:28] AlexJerabek commented on #521
Hi @EKlein1206,

Thanks for sharing the script. I tested it out on a local workbook with a worksheet named "1". I hit the same error as you when the worksheet had no content (it was completely empty). Is that the case for you?

My apologies for assuming the worksheet would always have data. In this empty worksheet scenario, you need to have a special case for when that happens. Additionally, I dis

[2022-08-19 18:04] EKlein1206 commented on #521
If only it were that simple. As of today, I have 49 lines of data. Would It be useful if I took a screenshot of my table?

[2022-08-19 18:36] AlexJerabek commented on #521
If you are comfortable sharing screenshots, then before and after screenshots would be very helpful.

[2022-08-19 18:49] EKlein1206 commented on #521
<img width="264" alt="Table" src="https://user-images.githubusercontent.com/108834925/185686626-fd45a54f-987b-49ef-b375-9b4b04b32f21.png">
<img width="960" alt="Script error-no changes to script" src="https://user-images.githubusercontent.com/108834925/185686989-23f3cd2a-65b4-4507-8e80-88ce04fd40c9.png">

I did not edit the script at all from the last set of pictures. I hope this is somewhat usefu

[2022-08-20 16:46] starfieldscreensaver opened #531 "Feedback on: Call scripts from a manual Power Automate flow"
Step 7. Refresh the page to see the results of the Power Automate.

Maybe add Step 8. Return to the workbook and refresh the page, you will now see the date and time in cells A1 and B2. Note the time may be off by several hours depending on the time zone settings for the workbook and Power Automate.

or something like that.

Thanks,
Matt
---
#### Document Details

⚠ *Do not edit this section. It i

[2022-08-22 19:44] AlexJerabek commented on #521
Thank you for the context. Let's take a step back, because I think I misunderstood the workbook early on and there are some things in the Script we can improve. There are often many different ways to achieve the same task in Office Scripts and which to choose depends on subtle factors, especially how neat and consistent the data is kept. My apologies for not understanding this and not correcting t

[2022-08-22 20:26] AlexJerabek commented on #531
Thanks for the suggestion @starfieldscreensaver. I'll put together a PR to incorporate this.

[2022-08-22 21:49] #531 closed

[2022-08-23 01:02] #529 closed

[2022-08-24 19:56] EKlein1206 commented on #521
Well I am happy to announce that it works! Our only "issue" now is that that the result does not automatically populate into the 'Diff." column. However, until this point I have been manually dragging the formula for that column down for the autofill feature. I have tested the code through power automate and it sends an email out if it crosses a result of 500.

Thank you so much for all of your he

[2022-08-25 16:57] AlexJerabek commented on #521
Glad to hear it's working!

As for the Diff column, you have a couple ways to fil that out with the script. For clarity, here's the table I'm working with.
![image](https://user-images.githubusercontent.com/38896772/186724167-7cbbb655-0ec3-403b-aa2d-e1215b9fc971.png)

Option 1 is to add a formula in the `newRow`. Given the following table, you can use the formula `"=[@Reading]-OFFSET([@Reading],-1

[2022-08-27 20:37] starfieldscreensaver opened #535 "Input parameters for code in Sample code: Add worksheets"
On this
`function main(workbook: ExcelScript.Workbook, workbookName: string, worksheetInformation: WorksheetData[])
{`

the param workbookName implies a Workbook. What is being passed as 'name' is a worksheet name.

It caused a little confusion for me at first because I read it as passing a full workbook.
Not sure if its really worth changing but thought I bring it up.
I could actually still be wr

[2022-08-27 20:39] starfieldscreensaver commented on #535
never mind!

[2022-08-27 20:39] #535 closed

[2022-08-29 17:47] AlexJerabek commented on #535
Hi @starfieldscreensaver,

Glad a second read cleared things up. If you do have any ideas or suggestions to improve the clarity of the docs, we're happy to hear them.

[2022-08-29 21:55] #521 closed

[2022-09-08 18:43] microsoft-github-policy-service[bot] opened #541 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-08 20:52] #541 closed